body
{
	margin:0;
	padding:0;
}
	
	.Topbar
	{
		background-color:white;			
		position:fixed;
		width:100%;
		height:9%;
		opacity:0.8;
		box-shadow: 0px 1px 5px grey;
	}
	.lifi
	{
		color:#1f3040;
		margin:1%;
		margin-left:1.5%;
		font-size:192%;
		font-family:Trebuchet MS;
		font-weight:normal;
		width:10.5%;
		cursor:pointer;
		height:60px;
		float:left;
	}
	.lifi:hover
	{
		color:#ef406f;
	}
	.menubar
	{
		width:75%;
		margin-left:40%;
	}
	.menu
	{
		font-size:100%;
		color:#1f3040;
		font-family:Trebuchet MS;
		font-weight:semi-condensed;
		position:relative;
		margin-left:2%;
		cursor:pointer;
		font-weight:bold;
		width:auto;
		padding-left:30px;
		padding-right:30px;
		height:40px;
		margin-top:10px;
		background-color:transparent;
		border:none;
		outline:none;
	}
	.menu:hover
	{
		color:#2ae8ae;
		border-bottom: 4px #2ae8ae solid;
		opacity:0.8;
	}
	
	.btnn
	{
		cursor:pointer;
		color:white;
		font-family:trebuchet ms;
		font-size:100%;
		font-weight:bold;
		position:relative;
		top:5px;
		background-color:#2ae8ae;
		outline:none;
		border:none;
	}
	.box
	{
		width:25%;
		height:55%;
		box-shadow:0px 1px 5px grey;
		margin-left:50%;
		margin-top:8%;
		border-radius:25px;
	}
	.txtbox
	{
		width:65%;
		height:7%;
		margin-left:15%;
		padding-left:5px;
		border:1px solid #2ae8ae;
		font-size:80%;
	}
	.subbox
	{
		width:45%;
		height:8%;
		margin-left:25%;
		font-family:trebuchet ms;
		box-shadow:0px 1px 5px grey;
		border-radius:10px;
		border:none;
		outline:none;
		font-size:110%;
		background-color:#2ae8ae;
		color:#ebeff5;
		text-align:center;
	}
	.checkbox
	{
		margin-left:15%;
		font-family:Arial;
		width:7%;
		height:3%;
	}
	.h2head
	{
		margin-left:17%;
		font-size:200%;
		position:relative;
		top:5%;
		font-family:trebuchet ms;
		font-weight:bold;
		color:#1f3040;
	}
	.navbar
	{
		width:20%;
		height:90.8%;
		background-color:#1f3040;
		float:left;
		position:relative;
		top:2px;
	}
	.navtop
	{
		height:25%;
		background-color:#13212e;
	}
	.navitem
	{
		height:5%;
		color:white;
		font-family:trebuchet ms;
		font-weight:bold;
		padding-left:5%;
		position:relative;
		top:20px;
		
	}
	.navitem:hover
	{
		background-color: #2ae8ae;
	}
	
	
	

@media only screen and (max-width: 450px) and (min-width: 150px)
{
	.lifi
	{
		margin-top:4%;
		margin-left:4%;
		font-size:152%;
	}
	.menu
	{
		font-size:100%;
		color:#1f3040;
		font-family:Trebuchet MS;
		font-weight:semi-condensed;
		position:relative;
		margin-left:2%;
		font-weight:bold;
		width:auto;
		padding-left:30px;
		padding-right:30px;
		height:40px;
		display:none;
		margin-top:10px;
		background-color:transparent;
		border:none;
		outline:none;
	}
	.box
	{
		width:55%;
		height:35%;
		margin-left:35%;
		margin-top:20%;
	}
	.h2head
	{
		margin-left:25%;
		font-size:120%;
	}
	.txtbox
	{
		width:65%;
		height:7%;
		font-size:60%;
	}
	.subbox
	{
		height:6%;
		font-size:60%;
	}
	.menu_button
	{
		display:block;
		background-color:#1f3040;
		border:none;
		height:3px;
		margin:4px;
		width:21px;
	}
	.menubtnbor
	{
		width:22px;
		margin-left:58%;
		margin-top:2%;
	}
	.notmember
	{
		margin-left:15%;
		position:relative;
		top:-20px;
		font-weight:bold;
		font-size:50%;
		font-family:trebuchet ms;
	}
	
}	

@media only screen and (max-width: 650px) and (min-width: 451px)
{
	.lifi
	{
		margin-top:4%;
		margin-left:4%;
		font-size:152%;
		color:yellow;
	}
	.menu
	{
		font-size:100%;
		color:#1f3040;
		font-family:Trebuchet MS;
		font-weight:semi-condensed;
		position:relative;
		margin-left:2%;
		font-weight:bold;
		width:auto;
		padding-left:30px;
		padding-right:30px;
		height:40px;
		display:none;
		margin-top:10px;
		background-color:transparent;
		border:none;
		outline:none;
	}
	.box
	{
		width:50%;
		height:35%;
		margin-left:45%;
		margin-top:20%;
	}
	.h2head
	{
		margin-left:25%;
		font-size:120%;
	}
	.txtbox
	{
		width:65%;
		height:7%;
		font-size:60%;
	}
	.subbox
	{
		height:6%;
		position:relative;
		top:-15px;
		font-size:60%;
	}
	.menu_button
	{
		display:block;
		background-color:#1f3040;
		border:none;
		height:3px;
		margin:4px;
		width:21px;
	}
	.menubtnbor
	{
		width:22px;
		margin-left:58%;
		margin-top:2%;
	}
	.navitem
	{
		height:5%;
		padding-left:3%;		
	}
	.navbar
	{
		width:36%;
	}
	.notmember
	{
		margin-left:20%;
		position:relative;
		top:-20px;
		font-weight:bold;
		font-size:50%;
		font-family:trebuchet ms;
	}
}

@media only screen and (max-width: 850px) and (min-width: 651px)
{
	.lifi
	{
		margin-top:3%;
		margin-left:2%;
		font-size:152%;
		color:green;
	}
	.menubar
	{
		width:80%;
		margin-left:24%;
	}
	.menu
	{
		font-size:90%;
		color:#1f3040;
		font-family:Trebuchet MS;
		font-weight:semi-condensed;
		position:relative;
		margin-left:1%;
		font-weight:bold;
		width:auto;
		padding-left:2%;
		padding-right:2%;
		height:40px;
		margin-top:10px;
		background-color:transparent;
		border:none;
		outline:none;
	}
	.box
	{
		width:35%;
		height:45%;
		margin-left:50%;
		margin-top:10%;
	}
	.h2head
	{
		margin-left:18%;
		font-size:150%;
	}
	.txtbox
	{
		width:65%;
		height:7%;
		font-size:60%;
	}
	.subbox
	{
		height:6%;
		font-size:60%;
	}
	.menu_button
	{
		display:block;
		background-color:#1f3040;
		border:none;
		height:3px;
		margin:4px;
		width:21px;
	}
	.menubtnbor
	{
		width:22px;
		margin-left:58%;
		margin-top:2%;
	}
	
	.navbar
	{
		width:30%;
	}
	.notmember
	{
		margin-left:20%;
		font-weight:bold;
		font-size:50%;
		font-family:trebuchet ms;
	}
}


@media only screen and (max-width: 1050px) and (min-width: 851px)
{
	.lifi
	{
		margin-top:2%;
		margin-left:2%;
		font-size:152%;
		color:blue;
	}	
	.menubar
	{
		width:75%;
		margin-left:30%;
	}
	.menu
	{
		font-size:90%;
		margin-left:0%;
		width:auto;
		padding-left:20px;
		padding-right:20px;
		height:40px;
		margin-top:10px;
		background-color:transparent;
		border:none;
		outline:none;
	}
	.box
	{
		width:30%;
		height:45%;
		margin-left:60%;
		margin-top:10%;
	}
	.h2head
	{
		margin-left:15%;
		font-size:150%;
	}
	.txtbox
	{
		width:65%;
		height:7%;
		font-size:60%;
	}
	.subbox
	{
		height:6%;
		font-size:60%;
	}
	.menu_button
	{
		display:block;
		background-color:#1f3040;
		border:none;
		height:3px;
		margin:4px;
		width:21px;
	}
	.menubtnbor
	{
		width:22px;
		margin-left:58%;
		margin-top:2%;
	}
	.notmember
	{
		margin-left:15%;
		font-weight:bold;
		font-size:60%;
		font-family:trebuchet ms;
	}
}

@media only screen and (max-width: 1250px) and (min-width: 1051px)
{
	.lifi
	{
		margin-top:1%;
		margin-left:2%;
		font-size:160%;
		color:red;
	}	
	.menubar
	{
		width:65%;
		margin-left:40%;
	}
	.menu
	{
		font-size:100%;
		margin-left:-1%;
		width:auto;
		padding-left:20px;
		padding-right:20px;
		height:40px;
		margin-top:10px;
		background-color:transparent;
		border:none;
		outline:none;
	}
	.box
	{
		width:25%;
		height:45%;
		margin-left:60%;
		margin-top:10%;
	}
	.h2head
	{
		margin-left:20%;
		font-size:150%;
	}
	.txtbox
	{
		width:65%;
		height:7%;
		font-size:60%;
	}
	.subbox
	{
		height:6%;
		font-size:60%;
	}
	.menu_button
	{
		display:block;
		background-color:#1f3040;
		border:none;
		height:3px;
		margin:4px;
		width:21px;
	}
	.menubtnbor
	{
		width:22px;
		margin-left:58%;
		margin-top:2%;
	}
	.notmember
	{
		margin-left:15%;
		font-weight:bold;
		font-size:60%;
		font-family:trebuchet ms;
	}
}